.mid-text {
  padding-left: 20rem;
}

/*  .overlap-wrapper {
    display: flex;
    justify-content: flex-end;
  } */

.mid-text,
.overlap-wrapper {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.text-wrapper-7,
.see-more-text {
  font-family: "Inter-Bold", Helvetica;
  color: #121212;
}

.see-more {
  height: auto;
  width: 100%;
  display: flex;
  position: relative;
}

.see-more-text {
  font-size: 2.2rem;
  font-family: "Inter-Regular", Helvetica;
  color: #121212;

  font-weight: 700;
  line-height: normal;
  width: 100%;
}

.see-more-content {
  width: 100%;
  max-width: 42rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  height: 10.4rem;
  left: 0.4rem;
  position: absolute;
  top: 6.3rem;
  width: 42rem;
}

.image-and-text {
  display: flex;
  flex-direction: row;
  padding-bottom: 2rem;
  align-items: center;
}

.image-and-text p {
  margin-left: 2rem;
}

.text-wrapper-7 {
  font-size: 3.2rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
}

.span {
  font-weight: 400;
  letter-spacing: 0;
}

.feed-img {
  height: auto;
  width: 15.6rem;
  max-width: 100%;

  border-radius: 1rem;
}

@media only screen and (max-width: 320px) {
  .see-more-text {
    font-size: 1.4rem;
  }

  .image-and-text p {
    margin: 0.5rem 0;
  }
}
