.swiper {
  max-width: 100%;
}

.swiperSlide {
  display: flex;
  cursor: pointer;
  width: 100%;
  max-height: 60rem;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 1rem;
  filter: brightness(50%);
}

.swiperSlide img {
  display: block;
}

.container {
  position: relative;
}

.titulo {
  position: absolute;
  top: 80%;
  left: 1.5rem;
  color: white;
  font-size: 2.25rem;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subtitulo {
  position: absolute;
  top: 88%;
  left: 1.5rem;
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  width: 130ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* Desktop padrão */
@media (min-width: 1280px) {
  .swiperSlide {
    height: 40rem;
  }
}

/* Notebook */
@media (min-width: 1024px) {
  .swiperSlide {
    height: 35rem;
  }

  .titulo {
    left: 2rem;
    font-size: 2rem;
  }

  .subtitulo {
    left: 2rem;
    font-size: 1.5rem;
    max-width: 95ch;
  }
}

/* Tablet */
@media (max-width: 768px) {
}

/* Mobile */
@media (max-width: 480px) {
  .swiperSlide {
    height: 25rem;
  }

  .titulo {
    font-size: 1.5rem;
    width: 24ch;
  }

  .subtitulo {
    font-size: 1rem;
    width: 40ch;
  }
}
