.swiper {
  max-width: 100%;
}

.swiperSlide {
  display: flex;
  cursor: pointer;
  width: 100%;
  height: 50rem;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 1rem;
  filter: brightness(50%);
}

.swiperSlide img {
  display: block;
}

.container {
  position: relative;
}

.titulo {
  position: absolute;
  top: 80%;
  left: 1.5rem;
  color: white;
  font-family: Inter;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.subtitulo {
  position: absolute;
  top: 88%;
  left: 1.5rem;
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  width: 130ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 1024px) {
  .swiperSlide {
    height: 40rem;
  }

  .titulo {
    left: 2rem;
    font-size: 2rem;
  }

  .subtitulo {
    left: 2rem;
    font-size: 1.5rem;
    width: 110ch;
  }
}
