.body {
  box-sizing: border-box;
  background-color: white;
  margin: 0;
  padding: 4rem;
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.titulos {
  color: #121212;
  font-family: Inter;
  font-size: 2.5rem;
  font-weight: 700;
}
