.noticia {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  width: 100%;
  padding: 4rem;
  gap: 2rem;
}

.noticia .mid-text,
.noticia .overlap-wrapper {
  width: 100%;
  max-width: 144rem;
  margin: 0 auto;
}

.noticia .principal-image {
  max-width: 100%;
  height: auto;
}

.noticia .text-wrapper,
.noticia .text-wrapper-7,
.noticia .see-more-text {
  font-family: 'Inter-Bold', Helvetica;
  color: #121212;
}

.noticia .text-wrapper {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  width: 86.7rem;
  margin-top: 5.2rem;
  margin-bottom: 1rem;
}

.noticia .por-fulano-silva,
.noticia .dorem-ipsum-dolor,
.noticia .see-more-text,
.noticia .por-fulano-silva {
  font-size: 2.2rem;
  font-family: 'Inter-Regular', Helvetica;
  color: #121212;
}

.noticia .por-fulano-silva {
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  width: 68.1rem;
  margin-bottom: 2rem;
}

.noticia .span {
  font-weight: 400;
  letter-spacing: 0;
}

.noticia .dorem-ipsum-dolor {
  font-weight: 400;
  letter-spacing: 0.66px;
  line-height: 3.5rem;
  text-align: justify;
  width: 867px;
}

.noticia .header {
  background-color: transparent;
  height: 9rem;
  width: 144rem;
}

.noticia .vector {
  height: 3.5rem;
  width: 3.5rem;
}

.line {
  width: 100%;
  height: 0.3rem;
}

.noticia .see-more {
  height: 55rem;
  width: 42rem;
  display: flex;
  position: relative;
}

.noticia .see-more-line {
  height: 4rem;
  width: 15rem;
}

.noticia .see-more-content {
  width: 100%;
  max-width: 42rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

.image-and-text {
  display: flex;
  flex-direction: row;
  padding-bottom: 2rem;
  align-items: center;
}

.image-and-text p {
  margin-left: 2rem;
}

.noticia .text-wrapper-7 {
  font-size: 3.2rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.noticia .see-more-content {
  height: 10.4rem;
  left: 0.4rem;
  position: absolute;
  top: 6.3rem;
  width: 42rem;
}

.noticia .img {
  height: 10.4rem;
  width: 15.6rem;
}

.noticia .see-more-text {
  font-weight: 700;
  line-height: normal;
  width: 23.9rem;
}
