.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.cardImg {
  display: block;
  max-width: 100%;
  border-radius: 1rem;
}

.titulo {
  color: #121212;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.subtitulo {
  color: #121212;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
