@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 62.5%;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* FIM HEADER */

h1 {
  font-size: 3rem;
  color: white;
}

button {
  padding: 0.6em 1.2em;
  font-size: 2rem;
  font-family: inherit;
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}
